.listTitle{
  font-size: 20px;
  margin: 20px;
}

.list{
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 50px;
  border: 2px solid;
  border-collapse: collapse;
}

.nav-bar{
  align-self: center;
}

.addForm, .searchForm{
  margin: 20px;
}

.watched{
  border: 1px solid black;
  padding: 3px;
  border-radius: 15%;
  font-size: 10px;
}

.watched:hover{
  background-color: rgb(169, 249, 255)
}

.isWatched, .toWatch{
  border: solid;
  /* padding: 20px; */
}
